#grad 
{
    background: linear-gradient(to bottom, #002244 0%, #5072A7 100%);
    font-family: 'raleway';
    color: #001e3d;
    background-attachment: fixed;
}

#grad h1
{  
    font-size: 60px;
    font-weight: 600;
    color: #99adc1;
}

#grad h2
{   
    font-size: 40px;
    font-weight: 200;
    color: #99adc1;
}

a.btn 
{   
    padding: 40px;
    min-width: 5em;
    font-size: 4em;
    border: 2.5px solid #99adc1;
    margin:0.25em;
    color: #99adc1;
}

a.btn:hover
{
    background: transparent;
    border: none;
    color:#001e3d;
    box-shadow: 10px 10px 20px #001e3d;
    transition: 0.3s;
}
