body{
    overflow-x: hidden;

}




#override3
{
    background: linear-gradient(to bottom, #002244 0%, #5072A7 100%);
    font-family: 'raleway';
    color: #001e3d;
    background-attachment: fixed;  
}

#override3 h1
{  
    font-size: 60px;
    font-weight: 600;
    color: #F0F8FF;
}

#override3 h2
{   
    
    font-weight: 200;
    color: #F0F8FF;
}

a.btn 
{   min-width: 100%;
    font-size: 2.3em;
    border: 2.5px solid #5072A7;
    margin: 0.25em;
    color: #F0F8FF;
}

a.btn:hover
{
    background: transparent;
    border: none;
    color:#F0F8FF;
    box-shadow: 10px 10px 20px #002244;
    transition: 0.3s;
}
