#override3
{
    background: radial-gradient(#99adc1, #001e3d);
    font-family: 'raleway';
    color: #001e3d;
}

#override3 h1
{  
    font-size: 60px;
    font-weight: 600;
}

#override3 h2
{   
    
    font-weight: 200;
}

a.btn 
{   
    min-width: 8em;
    font-size: 2.3em;
    border: 2.5px solid #001e3d;
    margin:0.25em;
    color: #001e3d;
}

a.btn:hover
{
    background: transparent;
    border: none;
    color:#001e3d;
    box-shadow: 10px 10px 20px #001e3d;
    transition: 0.3s;
}
