#boot
{
    background: linear-gradient(to bottom, #002244 0%, #5072A7 100%);
    font-family: 'raleway';
    color: #F0F8FF;
    background-attachment: fixed;
}
.clean{
    list-style:square;
}
.navbar{
    position: relative;   
}

.navbar-brand{
    color: #F0F8FF;
    font-weight: bold;
}


.navbar-toggler-icon{
    font-size: 20px;
    color: #F0F8FF;
    background: transparent;
    padding: 20px;

}

.nav-item{
    display: inline-block;
    margin: 10px;
    margin: 0 5px;
    padding: 20px;
    
}

.nav-link{
    color: #F0F8FF;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    
    
}

.nav-link:hover{
    background: transparent;
    border: none;
    color: #001e3d;
    box-shadow: 10px 10px 20px #001e3d;
    transition: 0.3s;
}

#boot h1{
    font-family: 'raleway';
    font-size: 60px;
    font-weight: 600;
    
}


#boot h2{
    font-family: 'raleway';
    font-size: 30px;
    font-weight: 350;
}

a.btn {
    padding: 50px;
    margin: 40px;
   
    font-size: 30px;
    border: 2.5px solid #5072A7;
    color: #F0F8FF;
}

a.btn:hover{
    background: transparent;
    border: none;
    color:#F0F8FF;
    box-shadow: 10px 10px 20px #002244;
    transition: 0.3s;
}

.universal-text{
    font-size: 20px;
    text-decoration: none;
    color: #F0F8FF;
}

.card-body{
    background: #002244;
    min-width: 15em;
    
}

.btn-secondary{
    padding: 15px;
    font-size: 15px;
    
    border: 1.5px solid #F0F8FF;
    
    background-color: transparent;
    color: #F0F8FF;
    
}
.btn-secondary:hover{
    background: transparent;
    border: none;
    color:#F0F8FF;
    box-shadow: 10px 10px 20px #002244;
    transition: 0.3s;
}

.noteCard{
    background-color: #5072A7;
}

.card-shape{
    min-width: 2em;
}